/* @import a font from google fonts
:root {
  --background-img: var("");
  /* so you can display avatars as background images */
/* }
html {
}
body {
}
.cards {
}
.card {
  background-image: var(--background-img);
} */

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

.btn {
  /* common styles */
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: #394a59;
  border: 0.125rem solid #394a59;
  color: #fff;
  border-radius: 0.25em;

  /* link necessary styles */
  text-decoration: none;
  /* button necessary styles */
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover,
.btn:focus-visible {
  background-color: #59758d;
  border-color: #59758d;
  color: #fff;
}

html {
  background-color: #cf93ed;
  font-family: "Roboto", sans-serif;
}

.card {
  max-height: 10rem;
  max-width: 11rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 0.75rem 0.25rem #0002;
  padding: 10rem;
  margin: 5rem auto;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
