.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

html {
  background-color: #cf93ed;
  font-family: "Roboto", sans-serif;
}

.maintitle {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 1.8rem;
}

.card {
  height: 29rem;
  width: 30rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 0.75rem 0.25rem #0002;
  padding: 1rem;
  margin: 3rem auto;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.card:hover,
.card:focus-visible {
  /* background-color:; */
  transform: translateY(-0.4rem);
  border-color: #f2ff3d;
  background-color: white;
  color: darkblue;
}

#showAllUsersButton {
  /* common styles */
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: #394a59;
  border: 0.125rem solid #394a59;
  color: #fff;
  border-radius: 0.25em;

  /* link necessary styles */
  text-decoration: none;

  /* button necessary styles */
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

#showAllUsersButton:hover,
#showAllUsersButton:focus-visible {
  background-color: #59758d;
  border-color: #59758d;
  color: #fff;
}
